/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    /* background: linear-gradient(to right, rgba(244, 116, 57, 0.995), rgb(228, 226, 226), rgb(249, 197, 163)); */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 98px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 35px;
    width: 40vw;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #f65307;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #f65307;
}

.required {
    color: red;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #fb6304;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #23a5a5;
}

button:active {
    background-color: #004494;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
